{% extends 'base.html'%}
{% block title %}Add Tag{% endblock %}
{% block content %}
<div class="container mt-5 bg-dark py-3 text-white text-center">
    <h3 class="display-5">Add a Tag</h3>
    <form action="/tags/new" method="post">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"> Name </span>
            </div>
            <input type="text" class="form-control" name="tag_name">
        </div>
        <a href="/tags" class="btn btn-danger mt-2">Cancel</a>
        <button class="btn btn-success mt-2" type="submit">Add</button>

    </form>
</div>
{% endblock %}